[package]
name = "aprs"
version = "0.2.0"
edition = "2024"

[features]
default = ["path_to_error"]
path_to_error = ["serde_path_to_error"]

[dependencies]
aprs-pickle = { workspace = true }
aprs-proto = { workspace = true }
aprs-server-core = { workspace = true }
aprs-value = { workspace = true }
bitflags = { workspace = true }
bstr = "1.12.1"
byteorder = "1.5.0"
bytes = { workspace = true }
clap = { version = "4.5.50", features = ["derive"] }
flate2 = { version = "1.1.5", features = ["zlib-rs"] }
fnv = { workspace = true }
format_serde_error = "0.3.0"
futures = "0.3.31"
hex = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_path_to_error = { version = "0.1.20", optional = true }
serde_tuple = "1.1.2"
sha1 = { workspace = true }
smallvec = { workspace = true }
tokio = { version = "1.48.0", features = ["full"] }
tokio-stream = "0.1.17"
tokio-tungstenite = "0.28.0"
uuid = { version = "1.18.1", features = ["serde"] }
zip = "6.0.0"
serde_with = "3.15.1"
levenshtein = "1.0.5"
tracing = { workspace = true }
# Locked to 0.3.19 because of https://github.com/tokio-rs/tracing/issues/3378
tracing-subscriber = "=0.3.19"
color-eyre = "0.6.5"
tracing-error = "0.2.1"
tempfile = "3.23.0"
rmp-serde = "1.3.0"
zstd = "0.13.3"
litemap = { version = "0.8.0", features = ["serde"] }
hashers = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6"

[profile.dev.package."*"]
opt-level = 2

[profile.release]
debug = true
lto = true

[workspace]
members = ["aprs-*"]

[workspace.dependencies]
aprs-pickle = { path = "aprs-pickle" }
aprs-proto = { path = "aprs-proto" }
aprs-server-core = { path = "aprs-server-core" }
aprs-value = { path = "aprs-value" }
bitflags = "2.10.0"
bytes = { version = "1.10.1", features = ["serde"] }
chrono = "0.4.42"
eyre = "0.6.12"
fnv = "1.0.7"
hashers = "1.0.1"
hex = "0.4.3"
indexmap = { version = "2.12.0", features = ["serde"] }
itertools = "0.14.0"
num = "0.4.3"
ordered-float = "5.1.0"
parking_lot = "0.12.5"
serde = { version = "1.0.228", features = ["derive", "rc"] }
serde_json = "1.0.145"
serde_repr = "0.1.20"
sha1 = "0.10.6"
smallvec = { version = "1.15.1", features = ["serde"] }
tracing = "0.1.41"
