<!doctype html>

<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <main>
        <h1>Host Game</h1>

        <p>
            To start hosting a game, you can upload a previously generated Archipelago game here.
        </p>

        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <input type="file" name="multiworld">
                <button type="submit">Upload</button>
            </fieldset>
        </form>

    </main>
</body>